body {
  background: #d3e3fd;
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 1px solid #d3e3fd;
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #d3e3fd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: rgb(95, 95, 239);
}

.container {
  background: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.search-form-input {
  background-color: #d3e3fd;
  border: none;
  font-size: 18px;
  padding: 15px;
  width: 75%;
  border-radius: 6px;
}

.search-form-button {
  background: rgb(95, 95, 239);
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 15px;
  width: 20%;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 18px;
  font-weight: 230000;
  line-height: 25px;
}

.weather-app-details strong {
  color: rgb(95, 95, 239);
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 50px;
  margin-top: 10px;
}

.weather-app-temperature {
  font-size: 65px;
  font-weight: 600;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 11px;
  font-size: 30px;
  font-weight: 500;
}
